

<form id="comp-02-radio-group">

    <span data-code-snippet>
        <fieldset class="field-group">
            <legend>Are you a fan of radio buttons?</legend>
            <div class="radio-group">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                <label class="radio-label" for="radio-inline-1">Yes</label>
           </div>
           <div class="radio-group">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                <label class="radio-label" for="radio-inline-2">No</label>
            </div>
        </fieldset>
    </span>
</form>



<script type="text/javascript">
    var htmlString = $('#comp-02-radio-group [data-code-snippet]').html();
    $('#comp-02-radio-group-code').text(htmlString);
    Prism.highlightAll();
</script>